<div ng-controller='newsFeedController'>
  <!-- add more users  -->
  <div>
    {{data.groupname}}
  </div>
  <button class='creator' ng-click='getShout()'> Refresh NewsFeed </button>
  <br>
  <br>


  <!-- <div class = 'container' > -->
    <!-- <div class = 'col-xs-4' ng-repeat = 'i in [$index, $index + 1, $index + 2]' ng-if= 'data.shouts[i] !== undefined'> -->
<!--     <div class='card-deck-wrapper'>
      <div class='card-deck'> -->
        <div class='cardContainer' ng-repeat='shout in data.shouts'>
          <!-- <div class='card-block'> -->
          <!-- <div class='flipper'> -->
            <div class='front'>
              <div class='cardTitleContainer'>
                <h3 class='cardRecipient'>To: <span class='name'>{{shout.recipient}}</span></h3>
                 <h3 class='cardCreator'> From: <span class='name'>{{shout.creator}}</span></h3>
              </div>
              <h2 class='cardBlurb'>{{shout.title}}</h2>
            </div>
            <div class='back'>
              <h1>{{shout.message}}</h1>
            </div>
          <!-- </div> -->
          <!-- </div> -->
              <!-- <p>{{data.shouts[i].message}}</p>  -->
        </div>

        <div id='cardClone'>
          <div id='cloneFront'></div>
          <div id='cloneBack'></div>
        </div>
  <!--     </div>
    </div> -->
  <!-- </div> -->

</div>
