<div ng-controller = 'authController'>
  

  <h1> LOGIN </h1>
  

  <form name='loginForm' ng-submit='login()'> 
    
    <input class='login' placeholder='username' ng-model='loginData.user.username' type ='text' ng-model='' ng-minlength = '5' ng-maxlength = '10' required>


    <input class='login' placeholder='password' ng-model='loginData.user.password' type='password' ng-model='' ng-minlength='6' ng-maxlength='18' required>

    <div ng-if="error.status" ng-model='error'>
  		<p class="errorText"> {{error.status}} </p>
  	</div>


    <button class='login'> Log in </button>

  </form>

  <p>Don't have an account?</p><a href='#'> <strong> Sign Up </strong></a>
</div>
