<div ng-controller = 'authController'>
  <div class='authPage'>
    <img src='./../../assets/shoutrLogo1.png' class='authLogo'>
    <div class='auth-wrapper st-animate-bounce-in-up'>
      <h1> SHOUTR SIGN UP </h1>
      
      <div class='input-wrapper'>
        <form role='form' name='signupForm' ng-submit='signup()'>
          <div class='form-group'>
            <input class='form-control' type ='email' ng-model = 'signupData.user.email' placeholder='Email address' required>


            <input class='signup form-control' type ='text' placeholder='username' ng-model='signupData.user.username' ng-minlength = '5' ng-maxlength = '10' required>


            <input class='signup form-control' type='password' placeholder='password' ng-model='signupData.user.password' ng-minlength='6' ng-maxlength='18' required>
            

            <button class='signup'> Sign Up </button>
          	
          </div>

          <div ng-if="error.status" ng-model='error'>
        		<p class="errorText"> {{error.status}} </p>
        	</div>


        </form>
      </div>

      <p>Already have an account?</p>
      <a href='#/login'> <strong> Login </strong></a>
    </div>
  </div>
</div>
